* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
body{
    background-image: url(../imgs/img/peakp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/**Header*/
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem 1rem;
    font-size: 1.6rem;
    background-color: #3f3e3ef6;
    align-items: center;
    padding: 0 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .header-logo {
    display: flex;
    font-family: lobster, cursive;
    align-items: center;
    color: rgb(255, 255, 0);
}

.header .header-logo .header__logo {
    width: 7rem;
    height: 7rem;
    background-image: url(../imgs/icons/iconh.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header .header__menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: .7rem;
}

.header .header__menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 0);
    font-size: 1.8rem;
    font-family: Roboto, sans-serif;
    border-bottom: 2px solid transparent;
    padding: .5rem 1.2rem;
    transition: all .5s ease-in-out;
}

.header .header__menu ul li a:hover {
    border-bottom: 2px solid rgb(255, 255, 0);
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .header .header__menu ul {
        margin-top: 1rem;
        padding: 0;
    }

    .header .header__menu ul li a {
        font-size: 1.4rem;
        font-weight: 900;
    }
}

/**Main*/
.content-main {
    min-height: 100vh;
    font-size: 2rem;
    background-color: #e3e9e9b2;
}
.content-main .formulas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: rgba(0, 0, 0, 0.705);
    padding: 2rem 0;

}
.content-main .formulas .cruceta-fn{
    width: 45rem;
    border: .2rem solid #333333c5;
    border-radius: 1.5rem;
    box-shadow: .2rem .2rem .3rem #333333c5;
}
.content-main .formulas .cruceta-fn p{
    text-align: center;
    padding: 0 2rem;
    font-family: lato, sans-serif;
    font-weight: 600;
}
.content-main .formulas .cruceta-fn .header-cruceta{
    padding: 0 3rem;
    text-align: center;
}
.content-main .formulas .cruceta-fn .header-cruceta h3{
    font-size: 3rem;
    font-family: lato;
    padding: 3rem 0;
}
.content-main .formulas .cruceta-fn .header-cruceta label{
    border-radius: .5rem;
    font-size: 2.5rem;
    font-family: lato;
}
.content-main .formulas .cruceta-fn .header-cruceta input{
    border-radius: .5rem;
    font-size: 2.5rem;
    font-family: lato;
    font-weight: 900;
    color: #333333c5;
    margin: 1rem 0;
}

.content-main .formulas .cruceta-fn .header-cruceta button{
    border-radius:  .5rem;
    font-size: 2.5rem;
    border: .2rem solid #333333c5;
    font-family: Roboto, sans-serif;
    padding: .5rem;
    color: #333333d7;
    transition: all .5s ease-in-out;
}
.content-main .formulas .cruceta-fn .header-cruceta button:hover{
    background: #333333c5;
    color: #fff;
    cursor: pointer;
}
.content-main .formulas .cruceta-fn .numbers ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1.5rem;
    justify-content: center;
    padding: 0;
    font-size: 2.5rem;
    font-family: lobster, sans-serif;
}
.content-main .cruceta-fisica{
    background: url(../imgs/img/x.png);
    background-repeat: no-repeat;
    background-size: 38rem;
    background-position: center;
    height: 45rem;
}
.content-main .cruceta-fisica ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    list-style: none;
    font-family: lobster;
    margin: 0;
    padding: 0;
}
.content-main .cruceta-fisica ul li:nth-child(1){
    margin-bottom: 5rem;
}
.content-main .cruceta-fisica ul li:nth-child(2){
    align-self: end;
    margin-right: 2rem;
}
.content-main .cruceta-fisica ul li:nth-child(3){
    margin-bottom: 5rem;
    margin-left: 2rem;
    text-align: left;
}
.content-main .cruceta-fisica ul li:nth-child(4){
    margin-left: 8rem;
}
.content-main .cruceta-fisica ul li:nth-child(6){
    text-align: left;
    margin-left: -1rem;
}
.content-main .cruceta-fisica ul li:nth-child(7){
    margin-top: 2rem;
}

.content-main .cruceta-fisica ul li:nth-child(8){
    align-self: start;
    margin-right: 2rem;
    margin-bottom: 5rem;
}
.content-main .cruceta-fisica ul li:nth-child(9){
    text-align: left;
    margin-top: 2rem;
}
.numbers h3{
    text-align: center;
    font-family: lobster, sans-serif;
}

@media screen and (max-width: 768px) {
    .content-main .formulas .cruceta-fn{
        border: none;
    }
}
/**Footer*/
.footer {
    background-color: #3f3e3ef6;
    color: rgb(255, 255, 0);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    font-family: lobster, sans-serif;
    border-bottom: 0.2rem solid #ffffff59;
}

.footer .footer-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    padding: 2rem 0;
}
.footer-footer .designer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.designer > img{
    display: block;
    border-radius: 50%;
    margin: .7rem 0;
}
.designer h4{
    text-align: center;
    width: 100%;
    letter-spacing: .2rem;
}
.designer p{
    margin: 0;
    font-family: lobster, sans-serif;
    text-align: center;
}
.designer-social-media{
    width: 100%;
    text-align: center;
}
.designer-social-media img{
    margin: 1rem;
}
.copyright{
    align-content: center;
}

@media screen and (max-width: 768px) {
    .footer .footer-footer{
        display: grid;
        grid-template-columns: 1fr;
        font-family: Roboto, sans-serif;
    }
    .copyright{
        padding: 2rem;
    }
    .nav-footer ul li a{
        font-size: 1.5rem;
    }
}